<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>武理生活-武汉理工大学大学生生活服务平台</title>
  <meta name="keywords" content="打印,印刷,预约打印,学习资料,考题,试卷,英语,武理,数学,6级,雅思,托福" />
  <meta name="description" content="武理生活专业致力于为大学生校园生活服务。" />
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
  <link rel="shortcut icon" href="./static/favicon.png">
  <link rel="stylesheet" href="./static/iconfont/iconfont.css">
  <title>预约打印</title>
</head>

<body>
  <div id="app-box"></div>
  <!-- built files will be auto injected -->
  <!-- <script src="./static/js/polyfill.min.js"></script> -->
  <script src="./static/js/es6-promise.min.js"></script>
</body>

</html>
