// 全局公用样式
body {
  background-color: #f9f9f9;
  color: #222;
  font-size: 16px;
}
a,
a:hover,
a:active {
  text-decoration: none;
}
.layout-box {
  padding-bottom: 20px;
}
.layout-tabbar {
  position: fixed;
  .weui-tabbar__item {
    padding: 12px 0 0;
  }
}
.layout-content {
  font-size: 16px;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.text-c {
  text-align: center;
}
.text-l {
  text-align: left;
}
.text-r {
  text-align: right;
}
.button-box {
  padding: 15px 0;
  margin: 10px 15px;
  font-size: 25px;
}

.font-gray {
  color: #c9c9c9 !important;
}

.font-green {
  color: #06bf04 !important;
}
.font-orange {
  color: #ff9900 !important;
}

.font-red {
  color: #ff4444 !important;
}
.action-success .weui-btn_primary {
  background-color: #06bf04;
}
.my-panel {
  background: #fff;
  margin-top: 1.17647059em;
}
